.main-header{
    text-align: center;
    margin: 0 center;
}

.header-div{
    margin: 0 auto; 
    width: fit-content;
    border: solid black 1px;
}

.header-class{
    text-align: center;
    width: fit-content;
    border: solid black 1px;
}

body{
    background-color: red;
}
